/************ Misc ******************/
html body {
	/*background-color: #F8F9FD;*/
	background-image:url('/images/bg2.jpg');
	background-repeat:repeat-x;
/*background-color:#F9EACC;*/
/*text-shadow: 0px 0px 3px #fff;*/
}

input[type="submit"]{
    -moz-border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    /*background-color: #D4DCE9;*/
    color: #FFFFFF;
    background-color: #292929;
    padding: 3px 3px 3px 3px;
   /*background: url("images/submit_bg.gif") repeat-x scroll 0 0 transparent;*/
}

input[type="submit"]:hover{
	background-color: #214C5F; 
}
input[type="email"]:focus, INPUT[type="text"]:focus, textarea:focus, INPUT[type="password"]:focus, select:focus {

	border : 1px solid #828177;
}
input[type="email"]:focus,INPUT[type="text"]:focus, textarea:focus, INPUT[type="password"]:focus, select:focus {
border:1px solid #0B73A5;
box-shadow : 0 0 4px #0B73A5; /*0 0 4px #BCCDD1*/
-moz-box-shadow : 0 0 4px #0B73A5;
}

.float_right { float:right;}
.clear {clear: both;}
.hidden {display: none;}
label {
    font-weight: bold;
}

.green {
    color:green;
}


/****************** Notice & alert ********************/
.all_notice {
    color: #FFFFFF;
    font-size: 120%;
    font-weight: bold;
    padding: 15px 10px;
    position: fixed;
    text-align: center;
    text-shadow: 0px 0px 3px #fff;
    top: 0;
    width: 100%;
    opacity: 0.7;
}
#notice,.j_notice {
    background-color: green;
}
.j_alert,#alert {
    background-color: #F24110;
}
/********************** table sorter *************************/

table.tablesorter tbody tr.hover td{
	background-color: #E6DEEE;
}

/************************** Login page **********************/
.in_div label {
    display: inline-block;
    font-weight: bold;
    text-align: left;
    width: 77px;
}

.ou_div {
  background: none repeat scroll 0 0 #E6EEEE;
    border: 1px solid #CACECE;
    border-radius: 18px 18px 18px 18px;
    margin: 12%;
    padding: 3% 0;
    width: 510px;
}
.in_div{}
.in_div .remember_me_text{width : auto;}

/******************* Tickets Table **************************/
table.tablesorter tbody .tcp_0 td{
 	background: none repeat scroll 0 0 #F2FAFF;
    border-color: #ADD7F3;
    color: #555599;
}

table.tablesorter{
	width: 120%;
}

table.tablesorter tbody .tcp_1 td{
 	    background: none repeat scroll 0 0 #D2EEFF;
    border-color: #9ED2F2;
    color: #555599;
}
.tcp_0 a,.tcp_1 a {
color: #555599;
}
.tcp_2 a,.tcp_3 a{
color: #990000;
}
table.tablesorter tbody .tcp_2 td{
 	 background: none repeat scroll 0 0 #FFEEEE;
    border-color: #FFCCCC;
    color: #990000;
}
table.tablesorter tbody .tcp_3 td{
 	 background: none repeat scroll 0 0 #FFC4C4;
    border-color: #FFB4B4;
    color: #990000;
}

/************************** Login page **********************/
.in_div label {
    display: inline-block;
    font-weight: bold;
    text-align: left;
    width: 110px;
}

.ou_div {
  	/*background: none repeat scroll 0 0 #E6EEEE;*/
    border: 1px solid #CACECE;
    -moz-border-radius: 18px 18px 18px 18px;
    border-radius: 18px 18px 18px 18px;
    /*margin: 12%;
    padding: 3% 0;
    width: 510px;*/
    
}
.in_div{}
.in_div .remember_me_text{width : auto;}

/****************Comments table*************/
.comments_table
{
	-moz-border-radius: 7px;
}
