<%= form_tag(ticket_comments_path(@ticket), :remote => true) do  %>
 <div id="comment_errors" style="display: none;"></div>

 <div class="field">
    <%= text_area :comment,:description, :rows => '5', :cols => '30' %>
  </div>
  <div class="actions">
    <%= submit_tag "Submit",:style=>'float:right' %>
  </div>
<% end %>
