<% unless @ticket.closed? %>

<div>
  <%= link_to 'Reassign to owner',reassign_ticket_path(@ticket,@ticket.owner_id), :class => "ticket_action" %>
 | <%= link_to 'Resolve Ticket',resolve_ticket_path(@ticket), :class => "ticket_action" %>
</div>
<% end %>