<% unless @ticket.closed? %>
<br/>
<div>
  <%#= link_to 'Reassign to owner',reassign_ticket_path(@ticket,@ticket.owner_id) %>
  <%#= link_to 'Resolve Ticket',resolve_ticket_path(@ticket) %>
  <%= link_to 'Reassign to owner',"#", :id => "reassign_to_owner_link" %>
|  <%= link_to 'Resolve Ticket',"#", :id => "resolve_ticket_link" %>
</div>
<% end %>