<%= form_tag(resolve_ticket_path(@ticket), :remote => true) do  %>
 <div id="comment_errors" style="display: none;"></div>

 <div class="field">
    <%= text_area "",:comment, :rows => '5', :cols => '30' %>
  </div>
  <div class="actions">
    <%= submit_tag "Submit" , :id => "submit_comment"%>
  </div>
<% end %>
